# Copy this file to .env and fill in values before running
BOT_TOKEN=    # 8913902406:AAERu-1OkFZG7m6PgwiqkYI5-Wat3YtG4Ow
HOST=https://example.com   # https://ayanafikadu9-code.github.io
AD_VIDEO_URL=https://www.w3schools.com/html/mov_bbb.mp4
# Optional: if you have custom emoji ids, put them here; otherwise leave blank
ICON_WATCH=
ICON_PREMIUM=
