BOT_TOKEN=8913902406:AAERu-1OkFZG7m6PgwiqkYI5-Wat3YtG4Ow
HOST=https://your-backend-url.onrender.com
AD_PAGE=https://ayanafikadu9-code.github.io/TikTok-Downloader/
PREMIUM_URL=https://ayanafikadu9-code.github.io/TikTok-Downloader/
KEEPALIVE_ENABLED=1
KEEPALIVE_INTERVAL=300
